body{text-align: center;
  font-family: 'Roboto' , sans-serif;
  background-color: #f3f3f3;
}
.htitle{
  color: #747cec;
}
.plist{
  margin-bottom: 8px;
  
}
.dlist{
  width : 100%;
  margin: 0 auto ;
  text-align: center;
  
}
.dlist  p{
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-style: solid;
  border-color: #747cec;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4px
  
}
.dlist p:hover {
  background-color: #747cec; 
  color: #f3f3f3; 
  border-color: black;
}

