@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root
{
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);

  --font-size: 14px;
  --font-family:  'Inter', sans-serif; 
  --font-weight-regualr: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;    
}
*{ margin: 0;
  padding: 0;
box-sizing: border-box;

}


body {

  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--Off-Black);

}
div{
  background-color: var(--Dark-Grey);
  border-radius: 10px;
  width: 350px;
  height: 100%;
  text-align: center;
  margin: 150px auto;
}

img {

  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin-top: 40px  ;
  margin-bottom: 20px  ;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added box-shadow to the transition */

}

img:hover {
  transform: rotate(-360deg) scale(1.1);
  box-shadow: 0 0 10 var(--Grey); 
}

#name{

  font-size: 25px;
  font-weight: var(--font-weight-bold);
  color: var(--White);
  margin-bottom: 10px;
}
#profile-card_location {
  color: var(--Green);
  font-weight: var(--font-weight-bold);
  margin-bottom: 25px;

}
#profile-card_bio {
  color: var(--White);
  margin-bottom: 25px;
  opacity: 0.7;

}
ul {
  list-style-type: none;
  padding-bottom: 10px;

}

li {
  text-align: center;
  display: inline-block; 
  color: var(--White);
  font-weight: var(--font-weight-bold);
  border-radius: 6px;
  height: 40px;
  width: 280px;
  background-color: var(--Grey);
  line-height: 40px; 
  margin-bottom: 15px;
}

li a {
  display: block;
  height: 100%; 
  text-decoration: none; 
  color: inherit; 
  font-weight: inherit; 
}

li:hover {
  cursor: pointer;
  color: var(--Grey);
  background-color: var(--Green);
  transition:  0.2s ease-in-out;

}
li:active  {
  transform: scaleX(0.9);
  transition:  0.2s ease-in-out;

}
